.dados{
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.dado{
  display: flex;
  flex-direction: column;
}

.ofertas{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.oferta{
  border: 1px solid grey;
  width: 20%;
  padding: 5px;
  background-color: chocolate;
}

.oferta img{
  max-width:300px;
  max-height:280px;
  width: auto;
  height: auto;
}

.nomeesobre{
  width:40%;
}

.emcid{
  width:60%;
}