*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}




.dados{
  padding-top:30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.dado{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:6px;
  padding-bottom: 10px;
}

.dado label{
  width: 90%;
}

.dado input, select{
  font-size: 18px;
  border-radius: 14px;
  border: none;
  padding: 10px;
  width: 90%;
  background-color:rgb(230, 235, 235);
}

.ETCS{
  display: flex;
  justify-content: space-evenly;
}

.Emtel{
  width: 60%;
}

.CidEs{
 width: 25%;
}

.ofertas{
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.oferta{
  margin-bottom: 15px;
  width: 24%;
  height: 270px;
  border: solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border-color:gray;
}

.oferta img{
  max-width:90%;
  max-height:90%;
  width: auto;
  height: auto;
  background-color: aqua;
}
